<h4 class="dispaly-4">รายการอาหาร</h4>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden"  name="OrderItemId" #OrderItemID="ngModel" [(ngModel)]="formData.OrderItemId">
    <input type="hidden"  name="OrderId" #OrderID="ngModel" [(ngModel)]="formData.OrderId">
  <input type="hidden"  name="ItemName" #ItemName="ngModel" [(ngModel)]="formData.ItemName">
  <div class="form-group">
    <label>รายการอาหาร</label>
    <select name="ItemId" #ItemID="ngModel" [(ngModel)]="formData.ItemId" class="form-control" (change)="updatePrice($event.target)"
    [class.is-invalid]="!isValid && formData.ItemId==0">
      <option value="0">-เลือก-</option>
      <option *ngFor="let item of itemList" value="{{item.ItemId}}">{{item.Name}}</option>
    </select>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>ราคา</label>
      <div class="input-group">
        <input name="Price" #Price="ngModel" [(ngModel)]="formData.Price" class="form-control" readonly>
        <div class="input-group-prepend">
          <div class="input-group-text">บาท</div>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>จำนวน</label>
      <input name="Quantity" #Quantity="ngModel" [(ngModel)]="formData.Quantity" class="form-control"
      (keyup)="updateTotal()" [class.is-invalid]="!isValid && formData.Quantity==0">
    </div>
  </div>
  <div class="form-group">
    <label>รวม</label>
    <div class="input-group">     
      <input name="Total" #Total="ngModel" [(ngModel)]="formData.Total" class="form-control" readonly>
      <div class="input-group-prepend">
        <div class="input-group-text">บาท</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> ยืนยัน</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> ปิด</button>
  </div>
</form>