<table class="table table-hover">
    <thead class="thead-light">
      <th>หมายเลขสั่งซื้อ</th>
      <th>ชื่อลูกค้า</th>
      <th>ประเภทการจ่าย</th>
      <th>ยอดรวมทั้งหมด</th>
      <th>
        <a class="btn btn-outline-success" routerLink="/order"><i class="fa fa-plus-square"></i> ทำรายการใหม่</a>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let item of orderList">
        <th (click)="openForEdit(item.OrderId)">{{item.OrderNo}}</th>
        <td (click)="openForEdit(item.OrderId)">{{item.Customer}}</td>
        <td (click)="openForEdit(item.OrderId)">{{item.PMethod}}</td>
        <td (click)="openForEdit(item.OrderId)">{{item.GTotal}}</td>
        <td>
            <a class="btn text-danger" (click)="onOrderDelete(item.OrderId)"><i class="fa fa-trash fa-lg"></i></a>
        </td>
      </tr>
    </tbody>
  </table>